@import "../../node_modules/antd/dist/antd.less";   // import official less entry file

@primary-color: #60a0e0;
@font-family-no-number  : "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-family            : @font-family-no-number;


:root {
  --antd-primary-1: @primary-1;
  --antd-primary-2: @primary-2;
  --antd-primary-5: @primary-5;
  --antd-primary-6: @primary-6;
  --antd-primary-7: @primary-7;
}
