@primary-color: #60a0e0;
@heading-color          : fade(#000, 90%);
@text-color             : fade(#000, 75%);
@text-color-secondary   : fade(#000, 50%);
@text-color-light       : fade(#000, 35%);
@heading-color-dark     : fade(#fff, 100%);
@text-color-dark        : fade(#fff, 90%);
@text-color-secondary-dark: fade(#fff, 75%);