
.ticl-iconbtn {
  cursor: pointer;
  user-select: none;
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin: 3px;
  text-align: center;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ticl-iconbtn:hover {
  color: @primary-5 !important;
}

.ticl-iconbtn:active {
  color: @primary-7 !important;
}

.tico {
  width: 18px;
  height: 18px;
  font-size: 18px;
  text-align: center;
}
