.tclo-icn-loading {
  width: 24px;
  font-size: 12px;
  padding: 4px;
  cursor: wait;
}

.tclo-icn-expand {
  width: 24px;
  font-size: 8px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.25s;
}