.tclo-v-scroll {
  overflow: auto;
}

.tclo-v-scroll-content {
  display: inline-block;
  overflow: hidden;
  min-width: 100%;
}

.tclo-v-scroll-content>* {
  display: flex;
  align-items: center;
  overflow: hidden;
}