
node_modules

/.nyc_output
/coverage
/playground
/.idea
/.cache
/.parcel-cache
build
/dist
/packages/**/*.js
/test/**/*.js
*.map
*.jsx
/tool/**/*.js
/temp
/app/**/*.js
/app/**/*.ticlo
/css/*.css
en.base.yaml
/i18n/*
/icons/font-awesome/solid/removed
/icons/font-awesome/solid/_cleanup-icons.bat
/es
/js
/.yarn
/.claude
/app/**/*.d.ts
/packages/**/*.d.ts
/tool/**/*.d.ts