# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
/.nyc_output
/.karma_coverage
/.idea
build
/src/**/*.js
*.js.map
