
node_modules

/.nyc_output
/coverage
/playground
/.idea
/.cache
/.parcel-cache
build
/dist
/src/**/*.js
/test/**/*.js
/example/**/*.js
*.map
*.jsx
/tool/**/*.js
/temp
/example/**/*.ticlo
en.base.yaml
/i18n/*
/icons/font-awesome/solid/removed
/icons/font-awesome/solid/_cleanup-icons.bat
/es
/js
