{
  "cache": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/core/**/*",
    "src/node/**/*",
    "src/express/**/*",
    "src/test/**/*"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/node_modules/**"
  ],
   "branches": 75,
   "lines": 90,
   "functions": 85,
   "statements": 90
}
