.ticl-block {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 0 12px 0;
  border: 1px solid #a0a0a0;
  position: absolute;
  transition: all .2s;
}

.ticl-block-selected {
  box-shadow: 0 0 3px 2px #ddd
}

.ticl-block-head {
  position: relative;
  border-top-right-radius: 10px;
  height: 24px;
  padding: 2px 12px;
  background: #a0a0a0;
  color: white;
  &>.tico {
    position: absolute;
    right: 3px;
    top: 3px;
  }
}

.ticl-block-body {
  width: 100%;
}

.ticl-block-row {
  position: relative;
  border-bottom: 1px solid #ddd;
  height: 24px;
  padding: 2px 12px;
}

.ticl-block-foot {
  position: relative;
  height: 23px;
  padding: 2px 12px;
}

.ticl-input-arrow {
  position: absolute;
  left: -1px;
  border-radius: 0 5px 5px 0;
  width: 9px;
  height: 10px;
  top: 7px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

.ticl-output-arrow {
  position: absolute;
  right: -5px;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  top: 7px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

.ticl-block-pr0 {
  border-color: @blue-5;
  &>.ticl-block-head {
    background: @blue-5;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @blue-3;
  }
}

.ticl-block-pr1 {
  border-color: @cyan-6;
  &>.ticl-block-head {
    background: @cyan-6;
  }
  &1.ticl-block-selected {
    box-shadow: 0 0 3px 2px @cyan-3;
  }
}

.ticl-block-pr2 {
  @lime-6-7: mix(@lime-6, @lime-7, 50%);
  border-color: @lime-6-7;
  &>.ticl-block-head {
    background: @lime-6-7;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @lime-4;
  }
}

.ticl-block-pr3 {
  @vorange-6: mix(@red-4, @orange-6, 25%);
  @vorange-3: mix(@red-2, @orange-3, 25%);
  border-color: @vorange-6;
  &>.ticl-block-head {
    background: @vorange-6;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @vorange-3;
  }
}

.ticl-block-prr {
  @gold-6-7: mix(@gold-6, @gold-7, 70%);
  border-color: @gold-6-7;
  &>.ticl-block-head {
    background: @gold-6-7;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @gold-3;
  }
}