@import "../style";

.ticl-block {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 0 12px 0;
  border: 1px solid @ticl-color-prn;
  position: absolute;
  transition: all .2s;
}

.ticl-block-selected {
  box-shadow: 0 0 3px 2px @ticl-color-prn-light;
}

.ticl-block-head {
  position: relative;
  border-top-right-radius: 10px;
  height: 24px;
  padding: 2px 12px;
  background: #a0a0a0;
  color: white;
  & > .tico {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ticl-block-body {
  width: 100%;
}

.ticl-block-field {
  position: relative;
  border-bottom: 1px solid #ddd;
  height: 24px;
  padding: 2px 12px;
  display: flex;
}

.ticl-block-field-name {
  border-right: 1px solid #f0f0f0;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
  flex: 0 1 50%;
}

.ticl-block-field-value {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 50%;
}

.ticl-block-foot {
  position: relative;
  height: 23px;
  padding: 2px 12px;
}

.ticl-input-arrow {
  position: absolute;
  left: -1px;
  border-radius: 0 5px 5px 0;
  width: 9px;
  height: 10px;
  top: 7px;
  border: 1px solid @ticl-color-prn;
  background: #f8f8f8;
}

.ticl-output-arrow {
  position: absolute;
  right: -5px;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  top: 7px;
  border: 1px solid @ticl-color-prn;
  background: #f8f8f8;
}

.ticl-block-pr0 {
  border-color: @ticl-color-pr0;
  & > .ticl-block-head {
    background: @ticl-color-pr0;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @ticl-color-pr0-light;
  }
}

.ticl-block-pr1 {
  border-color: @ticl-color-pr1;
  & > .ticl-block-head {
    background: @ticl-color-pr1;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @ticl-color-pr1-light;
  }
}

.ticl-block-pr2 {
  border-color: @ticl-color-pr2;
  & > .ticl-block-head {
    background: @ticl-color-pr2;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @ticl-color-pr2-light;
  }
}

.ticl-block-pr3 {
  border-color: @ticl-color-pr3;
  & > .ticl-block-head {
    background: @ticl-color-pr3;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @ticl-color-pr3-light;
  }
}

.ticl-block-prr {
  border-color: @ticl-color-prr;
  & > .ticl-block-head {
    background: @ticl-color-prr;
  }
  &.ticl-block-selected {
    box-shadow: 0 0 3px 2px @ticl-color-prr-light;
  }
}