.ticl-stage {
  user-select: none;
  outline: none;
}

.ticl-stage-bg, .ticl-stage-scroll {
  position: absolute;
  width: 100%;
  height: 100%;
}

.ticl-stage-bg {
  background-size: 32px 32px;
  /* image from assets/stage-bg.gif */
  background-image: url("data:image/gif;base64,R0lGODdhIAAgAKECAN3d3e7u7v///////ywAAAAAIAAgAAACJZSPqcvtD6OctNqLs968+w92QWiMYBAAaGiy5AvH8kzX9o3ndgEAOw==");
}

.ticl-stage-scroll {
  overflow: auto;
}

.ticl-stage-scroll-content {
  transform-origin: 0 0;
}

.ticl-stage-zoom {
  pointer-events: none;
  position: absolute;
  top: 4px;
  right: 16px;
  border: 1px solid #ddd;
  padding: 0 4px;
  border-radius: 12px;
  min-width: 92px;
  background: rgba(255, 255, 255, 0.75);

  button {
    pointer-events: visible;
  }
}

.ticl-stage-zoom-label {
  margin: 0 4px;
  text-align: center;
  flex-grow: 1;
}

.ticl-mini-stage-bg {
  box-shadow: 0 0 1px 1px #f8f8f8;
  margin: 6px 2px;
  overflow: hidden;
}

.ticl-mini-stage {
  transform-origin: 0 0;

}