@import "../style";

.ticl-field {
  position: relative;
  border-bottom: 1px solid #d0d0d0;
  height: 24px;
  line-height: 19px;
  padding: 2px 12px;
  display: flex;
  &:first-child {
    /* allows the sub icon to overlap the next row but still clickable */
    z-index: 1;
  }
  &.dragging {
    opacity: 0.3;
  }
}

.ticl-field-name {
  border-right: 1px solid #f0f0f0;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 80px;
  margin-left: 2px;
}

.ticl-field-value {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  flex: 0 0 calc(75% - 30px);
  min-width: calc(100% - 160px);
}

.ticl-string-value {
  &:before, &:after {
    color: #bbb;
    display: inline-block;
    transform: translate(0, -2px);
    content: "'"
  }
  text-overflow: ellipsis;
}

.ticl-slot {
  position: absolute;
  right: calc(100% - 5px);
  border-radius: 0 5px 5px 0;
  width: 5px;
  height: 10px;
  top: 7px;
  border: 1px solid @ticl-color-prn-light;
  background: #f8f8f8;
  border-left: 0 none;
  overflow: hidden;
  transition-property: border-color, height, top;
  transition-duration: .2s;
  &.ticl-inbound {
    width: 10px;

    border-radius: 5px;
    border: 1px solid @ticl-color-prn;
  }
  &.ticl-inbound-path {
    border-radius: 0 10px 10px 0;
    padding-left: 12px;
    width: 14px;
  }
  &.ticl-inbound-path:hover {
    width: auto;
    height: 21px;
    top: 2px;
    line-height: 19px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.ticl-outbound {
  position: absolute;
  right: -5px;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  top: 7px;
  border: 1px solid @ticl-color-prn;
  background: #f8f8f8;
}

.ticl-field-subblock {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  z-index: 0;
  & > .ticl-field {
    border-bottom-color: #f0f0f0;
  }
  & > .ticl-field:last-child {
    height: 23px;
  }
  & > *:last-child {
    border-bottom-width: 0;
  }
}

.ticl-block-body > .ticl-field-subblock {
  border-bottom-color: #d0d0d0;
}

.ticl-field-subicon {
  position: absolute;
  left: 0;
  top: 13px;
  width: 16px;
  height: 12px;
  background: @ticl-color-prn;
  border-radius: 0 9px 0 0;
  padding-left: 1px;
  & > .tico {
    transform-origin: top left;
    transform: scale(0.5, 0.5);
  }
  transition-property: border, width, top;
  transition-duration: .1s;
}

.ticl-field-close {
  & > .ticl-field-name > .ticl-field-subicon {
    width: 12px;
    top: 6px;
    border-radius: 0 5px 5px 0;
    padding-left: 0;
  }
  & > .ticl-slot, & > .ticl-outbound {
    border-radius: 3px;
  }
}

.ticl-field-indent0, .ticl-field-indent1, .ticl-field-indent2, .ticl-field-indent3 {
  width: 9px;
  height: 24px;
  margin: -3px 4px -2px 3px;
  flex-shrink: 0;
}

.ticl-field-indent1 {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24"%3E%3Cpath stroke="%23AAA" fill="none" d="M1 0 L 1 24"/%3E%3C/svg%3E');
}

.ticl-field-indent2 {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24"%3E%3Cpath stroke="%23AAA" fill="none" d="M1 0 L 1 12 L 12 12"/%3E%3C/svg%3E');
}

.ticl-field-indent3 {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24"%3E%3Cpath stroke="%23AAA" fill="none" d="M1 0 L 1 24 M 1 12 L 12 12"/%3E%3C/svg%3E');
}