.ticl-property-group {
  width: 100%;
  border-left: solid 1px #eee;
  border-radius: 10px;
}

.ticl-property {
  position: relative;
  line-height: 19px;
  padding: 2px 6px;
  display: flex;
  flex-wrap: wrap;
  //&:first-child {
  //  /* allows the sub icon to overlap the next row but still clickable */
  //  z-index: 1;
  //}
  & > .ant-btn {
    height: 19px;
    width: 20px;
    padding: 0 2px;
    font-size: 14px;
    opacity: 0.4;
    border-style: none;
    &:hover, &:focus {
      opacity: 1;
    }
  }

  & > .ticl-tree-arr-expand {
    position: absolute;
    left: -10px;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"%3E%3Cpath stroke="%2340a9ff" stroke-width="1.5" fill="%23f8f8f8" d="M9 22l10-10L9 2z"/%3E%3C/svg%3E')
  }

  & > .ticl-property-list {
    width: 100%;
    border: solid 1px @ticl-color-pr0-light;
    padding: 8px;
    margin: 4px;
    border-radius: 0 12px 12px;
  }
}

.ticl-prop-inbound {
  position: absolute;
  right: calc(100% - 5px);
  border-radius: 5px;
  width: 10px;
  height: 10px;
  top: 7px;
  border: 1px solid @ticl-color-pr0;
  background: #f8f8f8;
  overflow: hidden;
  transition-property: border-color, height, top;
  transition-duration: .2s;
}

.ticl-property-name {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 32 1 32px;
  max-width: 50%;
  margin-left: 2px;
}

.ticl-property-readonly {
  color: @disabled-color;
}

.ticl-property-value {
  overflow: hidden;
  flex: 1 1 calc(75% - 30px);
  min-width: calc(100% - 160px);
  & > .ant-select {
    width: 100%;
  }
  & > .ant-input-number {
    max-width: 100%;
  }
  & > .ant-input-number-disabled {
    border-color: #f0f0f0;
  }
  & > .ant-select-disabled {
    & > .ant-select-selection {
      border-color: #f0f0f0;
    }
  }
  & > textarea.ant-input {
    padding: 0 7px;
    transition: none;
  }
  & .ant-input-disabled {
    border-color: #f0f0f0;
    resize: none;
  }
}

.ticl-property-divider {
  height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  & > span {
    margin-right: 8px;
    color: @text-color-light;
  }
  & > .ticl-tree-arr {
    opacity: 0.3;
  }
}

.ticl-h-line {
  border-bottom: 1px solid;
  height: 3px;
  border-color: #ddd;
  flex-grow: 1;
}
