.ticl-table-editor {
  .ticl-table-toolbar,
  .ticl-table-actions {
    display: flex;
    gap: 4px;
  }

  .ticl-table-toolbar {
    margin-bottom: 8px;
  }

  .ticl-table-cell {
    min-width: 140px;
    padding: 0;
    overflow: visible;

    .ant-select {
      width: 100%;
    }
  }
}

.ticl-table-worker-editor .ticl-stage-header {
  display: none;
}
