.ticl-tree-node {
  cursor: pointer;
  & .tico {
    border-radius: 3px;
    transform: scale(0.6666666667);
  }
}
.ticl-tree-node-selected {
  background: @primary-fade-10;
  border-radius: 15px 0 0 15px;
}

.ticl-tree-node-text {
  margin: 1px 4px 3px 4px;
}

.ticl-tree-node .ticl-iconbtn {
  color: @text-color-light;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.75s;
}

.ticl-tree-node:hover .ticl-iconbtn {
  opacity: 1;
  visibility: visible;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  & .ticl-icon {
    display: inline-block;
    margin: 0 8px 0 0;
  }
}
