.ticl-e-stage {
  user-select: none;
  outline: none;
}

.ticl-e-stage-scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.ticl-e-stage-bg {
  background-size: 24px 24px;
  background-image: radial-gradient(
    var(--ticl-stage-grid-color, var(--ant-color-text-tertiary, #999)) 1px,
    transparent 1px
  );
  opacity: 0.3;
}

.ticl-e-selected-stage .ticl-e-stage-bg {
  opacity: 0.8;
}

.ticl-e-stage-scroll {
  overflow: auto;
}

.ticl-e-stage-scroll-content {
  transform-origin: 0 0;
}

.ticl-e-stage-zoom {
  pointer-events: none;
  position: absolute;
  top: 4px;
  right: 36px;
  border: 1px solid var(--ant-color-border, #ddd);
  padding: 0 4px;
  border-radius: 12px;
  min-width: 92px;
  background: var(--ant-color-bg-elevated, rgba(255, 255, 255, 0.75));

  button {
    pointer-events: visible;
  }
}

.ticl-e-stage-zoom-label {
  margin: 0 4px;
  text-align: center;
  flex-grow: 1;
}

.ticl-e-mini-stage-bg {
  box-shadow: 0 0 1px 1px var(--ant-color-border-secondary, #f8f8f8);
  margin: 0 2px 6px;
  overflow: hidden;
  position: relative;
}

.ticl-e-mini-stage {
  transform-origin: 0 0;
}

.ticl-e-mini-stage-window {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 0 128px rgba(170, 170, 170, 0.1);
  border: 1px solid rgba(170, 170, 170, 0.1);
  pointer-events: visible;
  cursor: move;
}

.ticl-e-stage-toolbar {
  pointer-events: none;
  position: absolute;
  top: 4px;
  right: 5px;
  width: 24px;
  & > * {
    margin-bottom: 6px;
    pointer-events: visible;
  }
  & button:disabled {
    opacity: 0.5;
  }
}
