.ticl-stage-panel {
  width: 100%;
  height: 100%;
  position: relative;

  & > * {
    height: 100%;
    position: relative;
  }

  & > .ticl-stage {
    flex-grow: 1;
  }

  & > .ticl-property-list {
    flex-grow: 1;
    min-width: 200px;
  }

  & > .dock-divider {
    transform: scaleX(3);
    cursor: ew-resize;
    border-left: 1px solid #f8f8f8;
  }
}