@use 'sass:color';
@use '../../style/variables' as *;

.ticl-e-comment-view {
  padding: 0 4px;
  max-height: 512px;
}

.ticl-e-block-note {
  border: 1px solid var(--ant-color-warning-border, #{color.mix($yellow-7, white, 30%)});
  background: var(--ant-color-warning-bg, #{color.mix($yellow-1, white, 30%)});
  padding: 6px 10px;
  max-height: 1024px;
  overflow-y: auto;

  transition-property: border;
  transition-duration: 0.2s;
}

.ticl-e-block-note:hover {
  border-color: var(--ant-color-warning-hover, #{color.change($yellow-8, $alpha: 0.5)});
}
