// no priority
@ticl-color-prn: #a0a0a0;
@ticl-color-prn-light: #ddd;

@ticl-color-pr0: #40a9ff;
@ticl-color-pr0-light: #91d5ff;
@ticl-color-pr1: #13c2c2;
@ticl-color-pr1-light: #87e8de;
@ticl-color-pr2: #8ec60b;
@ticl-color-pr2-light: #d3f261;
@ticl-color-pr3: #fb872e;
@ticl-color-pr3-light: #ffbfa2;
// repeater
@ticl-color-prr: #efa210;
@ticl-color-prr-light: #ffe58f;

@import 'rc-dock/style/index-light';

@import '../component/component';
@import '../component/DockDialogPane';

@import '../block/BlockStage';
@import '../block/Block';
@import '../block/view/Note';
@import '../block/view/Slider';
@import '../block/Field';
@import '../icon/Icon';
@import '../node-tree/NodeTree';
@import '../property/Property';
@import '../function-selector/FunctionView';
@import '../component/ClickPopup';
@import '../object-tree/ObjectTree';
@import '../scheduler/Calendar';
@import './antd-extra';
@import './dock-extra';
@import '../dock/text-editor/TextEditorPane';
@import '../dock/block/BlockStagePane';
@import '../dock/node-tree/NodeTreePane';

body {
  font-family: var(--ant-font-family);
  color: var(--ant-color-text);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
}

div {
  scrollbar-color: #eee #fbfbfb;
  scrollbar-width: thin;
  box-sizing: border-box;
}

div ::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #fbfbfb;
}

div ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 1px solid #fbfbfb;
  background: #eee;
}

div ::-webkit-scrollbar {
  border-radius: 6px;
  width: 11px;
  height: 11px;
}

div ::-webkit-scrollbar:vertical {
  width: 11px;
}

div ::-webkit-scrollbar:horizontal {
  height: 11px;
}

.ticl-error-message {
  padding: 6px;
  color: var(--ant-color-error);
}
.ticl-error-box {
  border: 1px solid var(--ant-color-error);
}

// fix component styles
.ant-switch {
  // by default it use disabled color, which is too dark
  background-color: rgba(0, 0, 0, 0.25);

  &-checked {
    background-color: var(--ant-color-primary);
  }

  &:after {
    // make it move faster
    transition: all 0.2s ease-in-out;
  }
}

.ant-dropdown-menu {
  // make the border clearer
  box-shadow: 0 0.5px 3px 1px rgba(0, 0, 0, 0.15);
  // smaller radius
  border-radius: 0 2px 2px;
}
