@use '../component/component';
@use '../component/DockDialogPane';

@use '../block/BlockStage';
@use '../block/Block';
@use '../block/view/Note';
@use '../block/view/Slider';
@use '../block/Field';
@use '../icon/Icon';
@use '../node-tree/NodeTree';
@use '../property/Property';
@use '../property/value/TableEditor';
@use '../function-selector/FunctionView';
@use '../component/ClickPopup';
@use '../object-tree/ObjectTree';
@use '../scheduler/Calendar';
@use './antd-extra';
@use './dock-extra';
@use '../dock/text-editor/TextEditorPane';
@use '../dock/block/BlockStagePane';
@use '../dock/node-tree/NodeTreePane';

body {
  font-family: var(--ant-font-family);
  color: var(--ant-color-text);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
}

div {
  scrollbar-color: #eee #fbfbfb;
  scrollbar-width: thin;
  box-sizing: border-box;
}

div ::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #fbfbfb;
}

div ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 1px solid #fbfbfb;
  background: #eee;
}

div ::-webkit-scrollbar {
  border-radius: 6px;
  width: 11px;
  height: 11px;
}

div ::-webkit-scrollbar:vertical {
  width: 11px;
}

div ::-webkit-scrollbar:horizontal {
  height: 11px;
}

.ticl-error-message {
  padding: 6px;
  color: var(--ant-color-error);
}
.ticl-error-box {
  border: 1px solid var(--ant-color-error);
}

// fix component styles
.ant-switch {
  // by default it use disabled color, which is too dark
  background-color: rgba(0, 0, 0, 0.25);

  &-checked {
    background-color: var(--ant-color-primary);
  }

  &:after {
    // make it move faster
    transition: all 0.2s ease-in-out;
  }
}

.ant-dropdown-menu {
  // make the border clearer
  box-shadow: 0 0.5px 3px 1px rgba(0, 0, 0, 0.15);
  // smaller radius
  border-radius: 0 2px 2px;
}
