.ticl-type-view {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 1px;
  border-radius: 0 6px 6px;
  cursor: pointer;
  
  & > span {
    background: white;
    height: 22px;
    flex-grow: 1;
    border-radius: 4px;
    padding: 1px 4px;
  }
}

.ticl-tree-type {
  & > .tico {
    margin-right: 4px;
    border-radius: 0 4px 4px;
  }
}
