@use '../style/variables' as *;

.ticl-e-tree-node {
  cursor: default;
}

.ticl-e-tree-node-content {
  cursor: pointer;
  display: flex;
  position: relative;
  background: #ffffff;
  flex-grow: 1;

  & > .tico {
    border-radius: 3px;
    transform: scale(0.6666666667);
  }

  & > .anticon {
    width: 16px;
    height: 16px;
    margin: 4px;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.ticl-e-tree-node-ordered > .ticl-e-tree-node-content::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 12px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: currentColor;
  pointer-events: none;
}

.ticl-e-tree-node-selected {
  background: $primary-fade-10;
}

.ticl-e-tree-node.ticl-e-tree-drop-before,
.ticl-e-tree-node.ticl-e-tree-drop-after {
  position: relative;
  overflow: visible;

  &::after {
    content: '';
    position: absolute;
    left: 24px;
    right: 0;
    height: 2px;
    background: $primary-color;
    pointer-events: none;
    z-index: 1;
  }
}

.ticl-e-tree-drop-before::after {
  top: -1px;
}

.ticl-e-tree-drop-after::after {
  bottom: -1px;
}

.ticl-e-tree-drop-inside {
  box-shadow: inset 0 0 0 2px $primary-color;
}

.ticl-e-tree-node-text {
  white-space: nowrap;
  margin: 1px 4px 3px 4px;
}

.ticl-e-tree-node-display {
  text-decoration: underline;
}

.ticl-e-tree-node .ticl-e-iconbtn {
  color: $text-color-light;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.75s;
}

.ticl-e-tree-node:hover .ticl-e-iconbtn {
  opacity: 1;
  visibility: visible;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  & .ticl-e-icon {
    display: inline-block;
    margin: 0 8px 0 0;
  }
}
